// 항목별로 보여주기
// 한글 출력 안됨

<!DOCTYPE html>
<html lang=en>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>My MOIM</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
	</head>
	<body>
    <header>
        <div class="fixed-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <a href="/home" class="p-2 text-dark">MOIM</a>
        <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
        <nav class="my-2 my-md-0 mr-md-3">
        <a href="#" class="p-2 text-dark"><span class="fa fa-search"></span></a>
        <% if (user.provider == undefined || user.provider == '') { %>
        <a href="/profile/profile_main" class="p-2 text-blue"><%= user.name %> 님 환영합니다</a>
        <a href="/logout" class="p-2 text-dark"><span class="fa fa-sign-in">
        <% } %>
        </span></a>
        </nav>
</div>
    </header>
        
       <main role="main">
  
      <section class="container">
              <h1 class="jumbotron-heading">내 모임</h1><br>
                     
                
                <section class = mb-4>
                <div class = mb-4>
                <h3> 참여 중인 모임 </h3>
                </div>
                                    
                <h5> 전체보기 </h5>
                    <% if(Moim.length>0){ %>
                        <% var i=0;%>
                        <% Moim.forEach(function(Moim){%>
                        <%i++;%>
                        <tr>
                            <div class="mb-2">
                            <td class="title">모임이름<a href="/moimDetail?id=<%= Moim.moim_id%>"><%= Moim.moim_id %></a></td>
                            <td for="data">날짜<%=Moim.createdAt%></td>
                            <td for="state">진행상태<%=Moim.state%></td>
                            </div>
                        </tr>
                        <%})%>
                        <%}else{%>
                        <tr>
                            <td class="noData" colspan="5"> 모임이 없습니다 :'( </td>
                        </tr>
                    <%}%>
                    
                </section>
             
         
    </section>
     
            
        
        </main>			
	</body>
</html>