<!DOCTYPE html>
<html lang=en>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>새로운 모임 :: MOIM</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
<script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
	</head>
	<body>
    <header>
       <div class="fixed-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <a href="/home" class="p-2 text-dark">MOIM</a>
        <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
        <nav class="my-2 my-md-0 mr-md-3">
        </nav>
</div>
    </header>
        
    <main role="main">
        <br><br><br>
		<div class="container">

			<div class="col-sm-8 col-sm-offset-3">
		
			    <h1>만들기 완료!</h1><br>
			         

			      <div class="mb-4">
                  <label for="title">새로운 모임이 생성되었습니다</label>
                  </div>
                
                 <hr>
                
                <div class="mb-4">
                  <label for="title">모임명: <%=title%></label>
                  </div>
                

                  <div class="mb-4">
                  <label for="introduction">모임소개: <%=introduction%> </label>
                  </div>
                
                  <div class="mb-4">
                  <label for="keyword">모임주제: <%=keyword%> </label>
                  </div>
                
                  <div class="mb-4">
                  <label for="min_num">최소인원: <%=min_num%> </label>
                  </div>
                
                  <div class="mb-4">
                  <label for="max_num">최대인원: <%=max_num%> </label>
                  </div>
                
                  <div class="mb-4">
                  <label for="start">시작일자: <%=start%> </label>
                  </div>
                
                  <div class="mb-4">
                  <label for="finish">종료일자: <%=finish%> </label>
                  </div>
                
                  <div class="mb-4">
                  <label for="start_at">시작일자: <%=start_at%> </label>
                  </div>
                
                  <div class="mb-4">
                  <label for="finish_at">종료일자: <%=finish_at%> </label>
                  </div>
                
                  <a class="btn btn-lg btn-primary" "style=float:right;" href="/mymoim" role="botton">내 모임 보러가기</a>
                
			    <hr>
			
                <p>자세한 약관이 궁금하신가요? <a href="/#">모임 규칙 보기</a></p>
			    <p><a href="/">홈으로</a>.</p>

    
            </div>
        </div>
      </main>
	</body>
</html>