<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>새로운 모임 :: MOIM</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
    <link href="navbar-top-fixed.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-grid.css" rel="stylesheet">
</head>

<body>
    <header>
        <div id="jb-header">
            <h1><br></h1>
        </div>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/home">Moim</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <ul class="navbar-nav mr-auto">
                        
                            <% if (user.provider == undefined || user.provider == '') { %>
                            <a href="/profile/profile_main" class="p-2 text-white">
                                <%= user.name %> 님 환영합니다</a>
                            <a href="/logout" class="p-2 text-dark"><span class="fa fa-sign-in"></span></a>
                            <% } %>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">logout <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-success my-2 my-sm-0" href="#">App download</button>
                        </li>
                    </ul>
                </form>
            </div>
        </nav>
    </header>

    <main role="main">
        <br><br><br>
        <div class="container">

            <div class="col-sm-6 col-sm-offset-3">

                <h1>만들기 완료!</h1><br>


                <div class="mb-4">
                    <label for="title">새로운 모임이 생성되었습니다</label>
                </div>

                <hr>
                
                <div class="mb-4">
                <img src="../public/upload/<%= moim.fileName%>" width="500" height="400">
                </div>

                <div class="mb-2">
                    <label for="title">모임명:
                        <%=moim.title%></label>
                </div>


                <div class="mb-2">
                    <label for="introduction">모임소개:
                        <%=moim.introduction%> </label>
                </div>

                <div class="mb-2">
                    <label for="keyword">모임주제:
                        <%=moim.keyword%> </label>
                </div>

                <div class="mb-2">
                    <label for="min_num">최소인원:
                        <%=moim.min_num%> </label>
                </div>

                <div class="mb-2">
                    <label for="max_num">최대인원:
                        <%=moim.max_num%> </label>
                </div>

                <div class="mb-2">
                    <label for="start">시작일자:
                        <%=moim.start%> </label>
                </div>

                <div class="mb-2">
                    <label for="finish">종료일자:
                        <%=moim.finish%> </label>
                </div>

                <div class="mb-2">
                    <label for="start_at">시작일자:
                        <%=moim.start_at%> </label>
                </div>

                <div class="mb-2">
                    <label for="finish_at">종료일자:
                        <%=moim.finish_at%> </label>
                </div>

                <div align="right"><a class="btn btn-lg btn-primary" "style=float:right;" href="/mymoim" role="botton">내 모임 보러가기</a></div>

                <hr>

                <p>자세한 약관이 궁금하신가요? <a href="/#">모임 규칙 보기</a></p>
                <p><a href="/">홈으로</a>.</p>


            </div>
        </div>
    </main>
</body>

</html>
